<div class="pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Add Seller</h1>
</div>

<!-- Seller form -->
<form [formGroup]="sellerForm" (ngSubmit)="submitSellerData()" novalidate>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label>Name</label>
      <input type="text" formControlName="name" class="form-control" required />
      <!-- Showing errors using getter method -->
      <p *ngIf="name.touched && name.invalid" class="error">
        <sup>*</sup>Please enter atleast name
      </p>
      <p *ngIf="name.errors?.minlength" class="error">
        <sup>*</sup>Name shouldn't be less than 2 words
      </p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label>Mobile number</label>
      <input
        type="text"
        formControlName="mobileNumber"
        class="form-control"
        required
      />
      <!-- Showing errors using getter method -->
      <p *ngIf="mobileNumber.touched && mobileNumber.invalid" class="error">
        <sup>*</sup>Please provide contact number
      </p>
      <p *ngIf="mobileNumber.errors?.pattern" class="error">
        <sup>*</sup>Use numbers only number
      </p>
    </div>
  </div>

  <div formArrayName="products">
    <div
      *ngFor="let product of productsForms.controls; let i = index"
      [formGroupName]="i"
      class="row"
    >
      <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 mb-3">
        <label>Product Name</label>
        <input
          type="text"
          formControlName="productName"
          class="form-control"
          required
        />
        <!-- Showing errors using getter method -->
        <p
          *ngIf="
            productsForms.controls[i].controls.productName.touched &&
            productsForms.controls[i].controls.productName.invalid
          "
          class="error"
        >
          <sup>*</sup>Please enter atleast product product name
        </p>
        <p
          *ngIf="
            productsForms.controls[i].controls.productName.errors?.minlength
          "
          class="error"
        >
          <sup>*</sup>Name shouldn't be less than 2 words
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 mb-3">
        <label>Category</label>
        <input
          type="text"
          formControlName="category"
          class="form-control"
          required
        />
        <!-- Showing errors using getter method -->
        <p
          *ngIf="
            productsForms.controls[i].controls.category.touched &&
            productsForms.controls[i].controls.category.invalid
          "
          class="error"
        >
          <sup>*</sup>Please enter atleast product category
        </p>
        <p
          *ngIf="productsForms.controls[i].controls.category.errors?.minlength"
          class="error"
        >
          <sup>*</sup>Name shouldn't be less than 2 words
        </p>
      </div>

      <div class="col-md-1 col-lg-1 col-sm-12 col-xs-12 mb-3">
        <label>Quantity</label>
        <input
          type="text"
          formControlName="quantity"
          class="form-control"
          required
        />
        <!-- Showing errors using getter method -->
        <p
          *ngIf="
            productsForms.controls[i].controls.quantity.touched &&
            productsForms.controls[i].controls.quantity.invalid
          "
          class="error"
        >
          <sup>*</sup>Please provide contact number
        </p>
        <p
          *ngIf="productsForms.controls[i].controls.quantity.errors?.pattern"
          class="error"
        >
          <sup>*</sup>Use numbers only number
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 mb-3">
        <label>Balance</label>
        <input
          type="text"
          formControlName="balance"
          class="form-control"
          required
        />
        <!-- Showing errors using getter method -->
        <p
          *ngIf="
            productsForms.controls[i].controls.balance.touched &&
            productsForms.controls[i].controls.balance.invalid
          "
          class="error"
        >
          <sup>*</sup>Please provide contact number
        </p>
        <p
          *ngIf="productsForms.controls[i].controls.balance.errors?.pattern"
          class="error"
        >
          <sup>*</sup>Use numbers only number
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 mb-3">
        <label>Selling Price</label>
        <input
          type="text"
          formControlName="sellingPrice"
          class="form-control"
          required
        />
        <!-- Showing errors using getter method -->
        <p
          *ngIf="
            productsForms.controls[i].controls.sellingPrice.touched &&
            productsForms.controls[i].controls.sellingPrice.invalid
          "
          class="error"
        >
          <sup>*</sup>Please provide contact number
        </p>
        <p
          *ngIf="
            productsForms.controls[i].controls.sellingPrice.errors?.pattern
          "
          class="error"
        >
          <sup>*</sup>Use numbers only number
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 mb-3">
        <label>Buying price</label>
        <input
          type="text"
          formControlName="buyingPrice"
          class="form-control"
          required
        />
        <!-- Showing errors using getter method -->
        <p
          *ngIf="
            productsForms.controls[i].controls.buyingPrice.touched &&
            productsForms.controls[i].controls.buyingPrice.invalid
          "
          class="error"
        >
          <sup>*</sup>Please provide contact number
        </p>
        <p
          *ngIf="productsForms.controls[i].controls.buyingPrice.errors?.pattern"
          class="error"
        >
          <sup>*</sup>Use numbers only number
        </p>
      </div>
      <div class="col-md-1 col-lg-1 col-sm-12 col-xs-12 mb-3">
      <button
        type="button"
        class="btn btn-danger gap-right"
        (click)="deleteProduct(i)"
      >
        Delete
      </button>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group text-right">
      <button
        type="button"
        class="btn btn-secondary gap-right"
        (click)="addProduct()"
      >
        Add Product
      </button>

      <button
        type="button"
        class="btn btn-secondary gap-right"
        (click)="ResetForm()"
      >
        Reset
      </button>
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!sellerForm.valid"
      >
        Add Seller
      </button>
    </div>
  </div>
</form>
<!-- Seller form ends-->
